body,h1{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    padding: 20px;
}
.content{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
#frm{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px 4px rgba(0,0,0,0.1);
}
form p{
    margin: 10px 0;
}
label{
    font-weight: bold;
}
input[type='text']{
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type='radio']{
    margin-right: 5px;
}
button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(55, 144, 55);
}

.todo{
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.todo p{
    margin: 0;
}
.todo i{
    color: #888;
}
input[type='submit']{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
input[type='submit']:hover{
    background-color: rgb(255, 81, 81);
}